/* ====================================================================
                         Common Styles
=========================================================================*/
*{
    margin:0;
    padding: 0;
}

body {
    font-family: 'Poppins',
        sans-serif;
       
}

/* ------removeing arrow from number input type------ */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.topSection-bg{
    background: #264653;
    width:100%;

}
.common-text {
    font-weight: 100;
    color: #E0E0E0;

}
.honda-common-btn{
    color: #fff;
    background: #E76F51;
    padding: 10px 46px;
    border: none;
    border-radius: 5px;
}

.diff-color{
     color: #fc5c34;
     letter-spacing: 1px;
}
.top-section-wraper{
    margin: 0;
}

/* ====================================================================
                        Nav style
=========================================================================*/
.nav-text-color{
    color:#fff;
}

.honda-login-btn {
    color: #fff;
    background: #E76F51;
    padding: 10px 28px;
    border: none;
    border-radius: 5px;
}

/* ====================================================================
                         Fetured Bikes section style
=========================================================================*/
.best-collection-color{
     color: #fc5c34;
     font-weight: 600;
}
.gray-img{
    filter: grayscale(100%);
}
.horizontal-line{
    border-top:2px solid #fc1100;
    margin-top: -10px;
    
}
/* ====================================================================
                         latest section style
=========================================================================*/
.read-me-btn{
    color: #E76F51;
    background: #fff;
    padding: 15px 35px;
    border: 2px solid #fc5c34;
    border-radius: 5px;
    margin-top: 20px;
    transition: all .5s ease;
}


.read-me-btn:hover{
    color: #fff;
    background: #E76F51;
    
}

/* ====================================================================
                         clients review section style
=========================================================================*/
.card-text-style{
    color:#6b6b6b;
    font-weight: 400;
}

/* ====================================================================
                         Extra section style
=========================================================================*/

.latest-bike-tite{
    color:#e20202;
    text-shadow: 1px 1px #131313;
     
}

/* ------Slider section ----- */
.slider-bg{
background: #264653a6;

}
.footer-list-color{
    color: #cacaca;
}

/* ---------------Footer style-------------------- */

.footer-bg{
    background-color:#0B0D17;
    font-size: 14px;
}



